
/* Bron: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******/

*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --red-color: #e50019;
  --blue-color: #2d3284;
  --white-color: white;
  --berge-color: #fff2e6;
  --pink-color: #ffb4dd;
  --dark-yellow-color: #edc51b;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Losse elementen */
a {
  text-decoration: none;
}

p {
  font-size: 1em;
  /* Origineel was dit 15px, ik vind dat te klein voor mobiel */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  width: 100%;
}

body > a {
  position: absolute;
  z-index: 10000;
  transform: translateX(-100%);
  display: block;
  top: 6.875em; /* 110px */
  padding: 1.25em 1.875em; /* 30px */
  background-color: var(--blue-color);
  border-radius: 0px 0.625em 0.625em 0px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9375em; /* 15px */
  color: var(--white-color);
}

body > a:focus {
  transform: none;
}

/******/
  /* Header */
/******/
header {
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em; /* 20px */
  background-color: var(--red-color);
}

/* Book a table button */
header nav a:nth-of-type(2), .hero a:first-of-type, .spice-up a:first-of-type, .tafel-boeken section button {
  display: block;
  padding: 0.625em; /* 10px */
  height: fit-content;
  border: 1px solid var(--white-color);
  border-radius: 0.625em; /* 10px */
  font-size: 0.8125em; /* 13px */
  line-height: 1.125em; /* 18px */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
  transition: all .3s ease-in-out;
}

/* Logo */
header nav img {
  display: flex;
  content: url(../images/header-logo.svg);
  height: 2.5em; /* 40px */
  transition: all .3s ease-in-out;
}

header nav ul li a {
  color: var(--white-color);
  transition: all.3s ease-in-out;
}

header nav button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Hamburgermenu */
header nav button span {
  display: block;
  width: 25px;
  /* De span moet een standaard waarde hebben, daarom px */
  border-top: 1px solid var(--white-color);
  transition: all .3s ease-in-out;
}

header nav button span:nth-of-type(2), header nav button span:nth-of-type(3)  {
  margin-top: 10px;
  /* Ik wil een blijvende margin tussen de spans */
}

.span-1 {
  transform: rotate(45deg) translate(6px, 8px);
  /* De translate moet standaard zijn */
}

.span-2 {
  border: 1px solid transparent;
}

.span-3 {
  transform: rotate(-45deg) translate(8px, -10px);
  /* De translate moet standaard zijn */
}

/* Hamburgermenu open */
header nav ul {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 100%;
  padding: 1.875em 0px 3.125em 0px; /* 30px 50px */
  background-color: var(--red-color);
  list-style: none;
  font-size: 0.9375em; /* 15px */
  line-height: 3em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  transform:translateY(-100%);
  transition: all .3s ease-in-out;
}

.toonMenu {
  transform:translateY(0%);
}

/* States */
header nav ul li a:hover, header nav ul li a:focus, footer a:hover, footer a:focus {
  color: var(--dark-yellow-color);
}

/* Buttons blauw */
header nav a:nth-of-type(2):focus{
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

/******/
  /* Home pagina */
/******/
/* Hero */
.hero {
  display: grid;
  padding: 0px 0px 12.5em 0px; /* 200px */
  background: url(../images/bluebackground.jpeg) center no-repeat;
  background-size: cover;
}

.hero img {
  grid-row-start: 1;
  object-fit: cover;
  height: 100vh;
}

.hero h1 {
  display: grid;
  margin: auto; /* 60px */
  padding-bottom: 21.875em; /* 350px */
  width: 18.75em; /* 300px */
  grid-auto-columns: revert;
  justify-content: center;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);

  background-image: url(../images/line.svg), 
                    url(../images/favicon-wit.svg), 
                    url(../images/line.svg);
  background-size: 5.625em auto, /* 90px */
                    2.1875em auto, /* 35px */
                    5.625em auto; /* 90px */
  background-repeat: no-repeat;
  background-position: left, center, right;
}

/* Bron: https://codepen.io/deannabosschert/pen/NWaqJVE?editors=1111 */
.animate-1, .animate-2 {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animate-1.fade, .animate-2.fade {
  opacity: 1;
}

.hero h1 span:nth-of-type(2), .hero h1 span:nth-of-type(3) {
  font-size: 3.625em; /* 58px */
}

.hero h1 span:first-of-type {
  font-size: 1.25em; /* 20px */
}

.hero h1 span:nth-of-type(2) {
  color: var(--pink-color);
}

.hero h1 span:nth-of-type(3) {
  color: var(--red-color);
}

.hero h1 span:nth-of-type(4) {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 2.8125em; /* 45px */
}

.hero p, .spice-up p, .tafel-boeken p {
  padding: 0px 1.25em; /* 20px */
  margin: 0px 0px 2.1875em 0px; /* 35px */
  line-height: 1.875em; /* 30px */
  color: var(--berge-color);
}

.hero p:first-of-type {
  margin-top: -9.375em; /* 150px */
}

.hero a:first-of-type, .spice-up a:first-of-type, .tafel-boeken section button {
  margin: auto;
  padding: 0.875em 2em; /* 14px 32px */
  width: fit-content;
  font-size: 0.9375em; /* 15px */
}

/* States */
.hero a:first-of-type:focus {
  background-color: var(--red-color);
  border: 1px solid var(--red-color);
}

.tafel-boeken section a:active {
  color: var(--white-color);
}

header nav ul li a:active {
  color: var(--blue-color);
}

header nav img:active {
  transform: scale(1);
}

header nav a:nth-of-type(2):hover, .hero a:first-of-type:hover {
  color: var(--dark-yellow-color);
  border: 1px solid var(--dark-yellow-color);
}

header nav img:hover {
  transform: scale(1.1);
}

header nav a:nth-of-type(2):active, .hero a:first-of-type:active {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: 1px solid var(--blue-color);
}

/* Bron: https://codepen.io/shooft/pen/zYKEyrN */
/* Hier graag geen vragen over stellen */
/* Slider */
.caroCarrousel {
  position: relative;
	outline:none;
  margin: auto;
  background-color: var(--berge-color);
}

.caroCarrousel > ul {
  transform: translateY(-5.625em); /* 90px */
  width: 80%;
  margin: auto; 
  padding: 0;
  list-style: none;
	display: flex;
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
  scroll-snap-type: inline mandatory;
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	overscroll-behavior: contain auto;
  scroll-behavior: smooth;
}

.caroCarrousel > ul::-webkit-scrollbar {
  display: none;
}

.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
	scroll-snap-align:center;
}

/* de carrousel elementen content */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* DE BOLLETJES */
.caroCarrousel nav ul {
  transform: translateY(-3.125em); /* 50px */
  position: absolute;
	left: 2em; right: 2em;
	bottom: 0;
	margin: 0;
  padding: .25em;
  list-style: none;
	display: flex;
	flex-wrap:wrap;
  justify-content: center;
}

.caroCarrousel nav li {
  margin: .25em;
  padding: 0;
}

/* de bolletjes */
.caroCarrousel > nav a {
  display: block;
  width: 1em;
  height: 1em;
  text-decoration: none;
	color: var(--blue-color);
	border-radius: 50%;
  outline: none;
	box-shadow: inset 0 0 0 1px currentColor;
  transition: 0.5s;
}

.caroCarrousel > nav a:hover,
.caroCarrousel > nav a:focus {
  color: var(--blue-color);
}

.caroCarrousel > nav a:active {
  color: var(--red-color);
}

.caroCarrousel > nav a.current {
  background-color: currentColor;
}

/* PREV EN NEXT LINKBUTTONS */
.caroCarrousel > a {
  transform: translateY(-5.625em); /* 90px */
  position: absolute;
  width: 3em; 
  height: 3em;
	top: calc(50% - 1.5em);
  color: var(--white-color);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.caroCarrousel > a[href="previous"] {
  left: 10%;
}

.caroCarrousel > a[href="next"] {
  right: 10%;
}

.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left: 10%;
}

.caroCarrousel:active > a[href="previous"], .caroCarrousel:active > a[href="next"] {
  color: var(--red-color);
}

.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right: 10%;
}

.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;
  background-color: currentColor;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
  color: var(--blue-color);
}

/* Spice up your day */
.spice-up {
  padding: 3.75em 0px 2.5em 0px;  /* 60px 40px */
  background-color: var(--berge-color);
}

.spice-up p {
  margin: 0px;
  color: var(--blue-color);
}

.spice-up p:nth-of-type(2) {
  margin-bottom: 2.1875em; /* 35px */
}

.spice-up h2 {
  padding: 0px 20px;
   /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  margin-bottom: 20px;
  /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  font-size: 2.125em; /* 34px */
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: var(--red-color);
}

.spice-up a:first-of-type, .tafel-boeken section button {
  margin: 2.1875em auto 0px auto; /* 35px */
  background-image: linear-gradient(90deg, var(--blue-color) 50%, var(--berge-color) 50%);
  background-size: 200% 100%;
  border: 1px solid var(--blue-color);
  color: var(--white-color);
}

.spice-up a:first-of-type:focus {
  background-image: linear-gradient(90deg, var(--berge-color) 50%, var(--blue-color) 50%);
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

/* States */
.spice-up a:first-of-type:hover, .tafel-boeken section button:hover {
  background-position: right center;
  color: var(--blue-color);
}

.spice-up a:first-of-type:active {
  border: 1px solid var(--blue-color);
  color: var(--white-color);
}

/* Sfeer foto */
.sfeer-foto {
  padding: 1.25em 1.25em 0px 1.25em; /* 20px */
  margin-top: 5em; /* 80px */
  /* font-size: 0px; */
}

.sfeer-foto img {
  position: relative;
  display: block;
  height: 21em; /* 336px */
  object-fit: cover;
}

/* Bron: https://stackoverflow.com/questions/8977957/can-i-change-the-height-of-an-image-in-css-before-after-pseudo-elements */
.sfeer-foto::before {
  transform: translateY(-5em); /* 80px */
  content: "";
  position: absolute;
  right: 1.25em; /* 20px */
  width: 15.625em; /* 250px */
  height: 9.866875em; /* 157.87px */
  background-image:url(../images/blok-1.png);
  background-size: contain;
}

.sfeer-foto::after {
  content: "";
  position: absolute;
  z-index: 1;
  transform: translateY(-6.25em); /* 100px */
  left: 0;
  width: 12.5em; /* 200px */
  height: 8.200625em; /* 131.21px */
  background-image:url(../images/blok-2.png);
  background-size: contain;
}

/* Book a table */
.tafel-boeken {
  position: relative;
  padding-top: 3.75em;
  background: url(../images/bluebackground.jpeg) center no-repeat;
  background-size: cover;
  color: var(--white-color);
  height: 56.25em; /* 900px */
  margin-bottom: 50em; /* 800px */
}

.tafel-boeken h2 {
  margin-bottom: 20px; 
  /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  padding: 0px 20px;
   /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  font-size: 3.125em; /* 42px */
  text-align: center;
  font-family: 'Comforter Brush', cursive;
  color: var(--dark-yellow-color);
}

.tafel-boeken section {
  background-color: var(--pink-color);
  margin: 1.25em;
  display: grid;
  position: relative;
}

.tafel-boeken section div {
  position: relative;
}

.tafel-boeken section div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.3725em;
  height: 2.625em;
  background-image:url(../images/favicon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* Bron: https://stackoverflow.com/questions/14695365/css-background-image-in-after-element */

.tafel-boeken section h3 {
  grid-row-start: 2;
  margin: 30px 0px 30px 0px;
  /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  text-transform: uppercase;
  font-size: 1.125em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: var(--red-color);
}

.tafel-boeken section div a {
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2.25em;
  height: 2.25em; /* 36px */
  background-image: url(../images/location-icon.svg);
  background-size: contain;
  transition: all .3s ease-in-out;
}

.tafel-boeken section a {
  font-size: 0.9375em; /* 15px */
  line-height: 1.4375em; /* 23px */
  text-align: center;
  color: var(--blue-color);
  transition: all .3s ease-in-out;
}

/* Tafel boeken button */
.tafel-boeken section button {
  margin: 2.1875em auto 3.125em auto; /* 35px 50px*/
  background-image: linear-gradient(90deg, var(--blue-color) 50%, var(--pink-color) 50%);
  background-size: 200% 100%;
  color: var(--white-color);
  cursor: pointer;
}

.tafel-boeken > section:first-of-type {
  margin-bottom: 3.125em; /* 50px */
}

/* States */
.tafel-boeken section div a:hover, .tafel-boeken section div a:focus {
  background-image: url(../images/location-icon-state.svg);
}

.tafel-boeken section a:hover, .tafel-boeken section a:focus {
  color: var(--red-color);
}

.tafel-boeken section button:focus {
  background-image: linear-gradient(90deg, var(--pink-color) 50%, var(--blue-color) 50%);
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.tafel-boeken section button:active {
  border: 1px solid var(--red-color);
  background-image: linear-gradient(90deg, var(--blue-color) 50%, var(--pink-color) 50%);
  color: var(--red-color);
}

.tafel-boeken section div a:active {
  background-image: url(../images/location-icon.svg);
}

/* Testimonial */
.testimonial {
  padding: 3.125em 0px 3.125em 1.25em; /* 50px, 20px */
  background-color: var(--dark-yellow-color);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.125em; /* 18px */
  line-height: 1.375em; /* 22px */
  color: var(--red-color);
}

.testimonial ul li {
  display: grid;
  grid-template-columns: 1.25em 1fr 1.25em;
}

.testimonial ul li p:first-of-type, .testimonial ul li p:nth-of-type(3) {
  font-size: 3.4375em; /* 55px */
}

.testimonial ul li p:nth-of-type(2) {
  margin: 0px 0.625em; /* 10px */
}

.testimonial ul:first-of-type {
  display: flex;
  overflow-x: auto;
  overscroll-behavior: contain auto;

  /* Bron: https://css-tricks.com/practical-css-scroll-snapping/ */
  scroll-snap-type: x mandatory;
  
}

.testimonial ul:first-of-type li {
  margin-right: 1.875em; /* 30px */
  scroll-snap-align: center;
}

/* Bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.testimonial ul:first-of-type::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.testimonial ul li p:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 21.875em; /* 350px */
  margin: 1.875em auto auto auto;
  font-size: 0.75em; /* 12px */
  text-decoration: underline;
  text-align: center;
  color: var(--blue-color);

  background-image: url(../images/line-testimonial.svg), 
                    url(../images/line-testimonial.svg);
  background-size: 5em auto, /* 80px */
                    5em auto; /* 80px */
  background-repeat: no-repeat;
  background-position: left, right;
}

/******/
  /* Menu pagina */
/******/
/* Slider */
.slider-menu {
  padding-top: 12.5em; /* 200px */
}

.slider-menu > ul {
  transform: translateY(1.875em); /* 30px */
}

.slider-menu > a {
  transform: translateY(8.75em); /* 140px */
}

.slider-menu nav ul {
  transform: translateY(5em); /* 80px */
}

.slider-menu h1 {
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.75em; /* 28px */
  color: var(--blue-color);
}

/* Stappen */
.stappen {
  margin-top: 12.5em; /* 200px */
}

.stappen ul li {
  display: grid;
  text-align: center;
}

.stappen ul img {
  grid-row-start: 1;
  margin: auto auto  1.875em auto; /* 30px */
  width: 10.625em; /* 170px */
}
/* Op de echte website zijn de afbeeldingen niet gelijk. Voor het oog is dit beter */

.stappen ul li h3 {
  margin-bottom: 0.625em; /* 10px */
  font-family: 'Orbitron', sans-serif;
  font-size: 1.125em; /* 18px */
  text-transform: uppercase;
  color: var(--red-color);
}

.stappen ul li p {
  display: grid;
  grid-auto-columns: min-content;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.125em; /* 18px */
  line-height: 1.25em;
  color: var(--blue-color);
}

.stappen ul li {
  margin-bottom: 3.125em; /* 50px */
}

/* Prijzenlijst */
.prijslijst {
  padding: 0px 1.25em;
  margin: 6.25em 0px; /* 100px */
}

.prijslijst h3 {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 1.5625em 1.25em; /* 25px 20px */
  margin: 0.625em 0px; /* 10px */
  background-color: var(--berge-color);
  align-items: center;
  font-size: 0.9375em; /* 15px */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--red-color);
}

.prijslijst article:first-of-type > h3 {
  background-color: var(--red-color);
  color: var(--white-color);
}

.prijslijst h3:after {
  content: "+";
  position: absolute;
  right: 0.625em; /* 10px */
  display: inline-block;
  font-size: 2.5em; /* 40px */
  transition: all .3s ease-in-out;
}

.prijslijst dl, .prijslijst ul {
  display: grid;
  grid-template-columns: 1fr 3.125em; /* 50px */
  gap: 0.625em; /* 10px */
  margin: 1.25em auto;
  width: 80%;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9375em; /* 15px */
  line-height: 1.875em; /* 30px */
  color: var(--blue-color);
}

.prijslijst dd {
  font-family: 'Poppins', sans-serif; 
}

.prijslijst article h4 {
  width: 80%;
  margin: 1.875em auto auto auto; /* 30px */
  line-height: 1.375em; /* 22px */
  font-size: 1.125em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: var(--dark-yellow-color);
}

.prijslijst article:last-of-type dl {
  margin-top: 0px;
  padding-top: 1.25em;
  border-top: 1px solid var(--blue-color);
}

/* Alles onzichtbaar */
.prijslijst article:first-of-type dl, 
.prijslijst article:nth-of-type(2) ul, 
.prijslijst article:last-of-type section {
  display: none;
  opacity: 0;
  transition: all .3s ease-in-out;
}

/* Plus naar min JS */
.prijslijst article:first-of-type h3.plusMin:after, 
.prijslijst article:nth-of-type(2) h3.plusMin:after, 
.prijslijst article:last-of-type h3.plusMin:after {
  transform: rotate(45deg);
}

/* Zichtbaar maken */
.prijslijst article:first-of-type dl.hetMenu, 
.prijslijst article:last-of-type section.hetMenu {
  display: grid;
}

.prijslijst article:nth-of-type(2) ul.hetMenu {
  display: block;
}

/* Fade in */
.prijslijst article:first-of-type dl.fade-in, 
.prijslijst article:last-of-type section.fade-in,
.prijslijst article:nth-of-type(2) ul.fade-in {
  opacity: 1;
}

/* Restaurants */
.tafel-boeken-menu {
  padding: 0 0 3.75em 0px;
  margin-bottom: 0px;
  height: fit-content;
  background-image: none;
}

.tafel-boeken-menu > section:first-of-type, .tafel-boeken-menu > section:last-of-type{
  transform: translateY(0px);
}

/******/
  /* Footer */
/******/
footer {
  padding: 3.125em 1.25em 1.25em 1.25em; /* 50px, 20px */
  background-image: url(../images/footer-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--berge-color);
}

footer a, footer p {
  font-size: 0.9375em; /* 15px */
  line-height: 1.4375em; /* 23px */
  color: var(--berge-color);
}

footer a {
  transition: all .3s ease-in-out;
}

footer h3 {
  font-size: 0.9375em; /* 15px */
  line-height: 1.5625em; /* 25px */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

footer section:first-of-type h3 {
  color: var(--pink-color);
}

footer  section:nth-of-type(2) h3 {
  color: var(--dark-yellow-color);
}

footer section {
  margin-bottom: 3.125em; /* 50px */
}

footer section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

footer i {
  margin-top: 0.625em; /* 10px */

  font-size: 20px;
  width: 30px;
  height: 30px;
  /* Icon moet een standaard waarde hebben */
  transition: all .3s ease-in-out;
  background-color: var(--berge-color);
  border-radius: 1em;
  text-align: center;
  color: var(--blue-color);
}

footer i::before {
  vertical-align: sub;
}

footer nav ul li a {
  font-size: 0.75em; /* 12px */
  line-height: 1.875em; /* 30px */
}

footer nav ul li {
  text-align: right;
}

footer section:nth-of-type(4) ul {
  display: flex;
}

footer section ul li:last-of-type a:first-of-type {
  margin-right: 1.25em;
}

footer section:nth-of-type(4) ul li:first-of-type {
  margin-right: 1.25em;
}

footer section:nth-of-type(4) ul {
  margin-bottom: 1.25em;
}

/* States */
footer a:active {
  color: var(--red-color);
}

footer section ul li:last-of-type a i:hover, footer section:nth-of-type(4) ul li a i:hover,
footer section ul li:last-of-type a:focus i, footer section:nth-of-type(4) ul li a:focus i {
  color: var(--berge-color);
  background-color: var(--blue-color);
}

footer section ul li:last-of-type a i:active, footer section:nth-of-type(4) ul li a i:active {
  color: var(--blue-color);
  background-color: var(--berge-color);
}

/******/
  /* Responsive */
/******/

@media (min-width: 34.375em) { /* 550px */
  .tafel-boeken {
    margin-bottom: 68.75em; /* 1100px */
  }
}

@media (min-width: 48.125em) /* 770px */ {
  /* Header */
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  /* Ik laat de button in het midden, vind ik mooier staan */
  header nav a:nth-of-type(2) {
    justify-self: center;
    width: fit-content;
    font-size: 0.9375em; /* 15px */
  }

  header nav button {
    justify-self: right;
  }

  /* Logo */
  header nav a {
    justify-self: left;
  }
  header nav img {
    content: none;
    height: 3.75em; /* 60px */
  }

  header nav ul {
    font-size: 1.25em;
  }

  /* Hero */
  .hero h1 {
    width: 27.5em; /* 440px */
  }
  .hero h1 span:nth-of-type(2), .hero h1 span:nth-of-type(3) {
    font-size: 5.625em; /* 90px */
  }

  .hero h1 span:first-of-type {
    font-size: 1.875em; /* 30px */
  }

  .hero h1 span:nth-of-type(4) {
    font-size: 3.75em; /* 60px */
  }

  .hero p, .spice-up p, .tafel-boeken p {
    margin: 0px auto 2.1875em auto; /* 35px */
    max-width: 47.5em; /* 760px */
    font-size: 1.125em; /* 18px */
  }

  .hero a:first-of-type, .spice-up a:first-of-type {
    font-size: 1.125em; /* 18px */
  }

  /* Slider */
  .caroCarrousel > ul {
    width: 85%;
  }

  .caroCarrousel > ul li > img {
    height: 650px;
  }

  /* Spice up */
  .spice-up p {
    margin: 0px auto 0px auto;
  }

  .spice-up h2 {
    font-size: 2.75em;
    margin-bottom: 50px;
    /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  }

  /* Sfeerfoto */
  .sfeer-foto {
    margin-top: 6.25em; /* 100px */
  }

  .sfeer-foto img {
    height: 37.5em; /* 600px */
    max-width: 90%;
    display: flex;
    margin: auto;
  }

  .sfeer-foto::before {
    transform: translateY(-9.375em); /* 150px */
    width: 27.0625em; /* 433px */
    height: 17.089375em; /* 273.43px */
  }

  .sfeer-foto::after {
    width: 23.3125em; /* 373px */
    height: 15.29375em; /* 244.7px */
    transform: translateY(-11.875em); /* 190px */
  }

  /* Boek een tafel */
  .tafel-boeken h2 {
    grid-column-start: 1;
    grid-column-end: -1;
    font-size: 4.375em;
    margin-bottom: 50px;
     /* Als font-size groter wordt, dan schaalt dat niet mee. Dat is wat ik wil */
  }

  .tafel-boeken p {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .tafel-boeken {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15.625em; /* 250px */
  }

  .tafel-boeken section {
    width: 21.875em; /* 350px */
  }

  .tafel-boeken > section {
    padding: 0px;
  }

  .tafel-boeken > section:first-of-type {
    margin: 0px 1.5625em 0px auto; /* 25px */
  }

  .tafel-boeken > section:last-of-type {
    margin: 0px 0px 0px 1.5625em; /* 25px */
  }

  .tafel-boeken > section:first-of-type, .tafel-boeken > section:last-of-type{
    transform: translateY(5.625em); /* 90px */
  }

  /* Testimonial */
  .testimonial {
    padding: 5em 3.125em;
    line-height: 1.5em; /* 24px */
    font-size: 1.25em; /* 20px */
  }

  .testimonial ul li p:first-of-type, .testimonial ul li p:nth-of-type(3) {
    font-size: 3.8125em; /* 61px */
  }

  /******/
    /* Menu pagina */
  /******/
  .slider-menu h1 {
    width: 85%;
    font-size: 3.4375em; /* 55px */
  }

  .stappen ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 62.5em; /* 1000px */
    margin: auto;
  }

  .stappen ul img {
    height: 9.375em; /* 150px */
  }

  .prijslijst {
    margin: 6.25em auto; /* 100px */
    padding: 0px 1.25em;
    max-width: 62.5em; /* 1000px */
  }

  .prijslijst h3 {
    font-size: 1.25em;
  }

  .prijslijst dl, .prijslijst ul {
    font-size: 1.125em; /* 18px */
    line-height: 2.1875em; /* 35px */
  }

  .prijslijst article h4 {
    font-size: 1.25em;
    line-height: 1.5em; /* 24px */
  }

  /* Footer */
  footer {
    padding: 6.25em; /* 100px */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }

  footer section:nth-of-type(2) {
    grid-column-start: 1;
  }

  footer section:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  footer nav {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
  }

  footer nav ul {
    display: flex;
    justify-content: center;
    gap: 3.125em; /* 50px */
  }

  footer div {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    background-image: url(../images/panda.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  footer h3 {
    font-size: 1.375em; /* 22px */
  }

  footer a, footer p {
    font-size: 1.125em; /* 18px */
    line-height: 1.6875em; /* 27px */
  }

  footer section ul li:last-of-type a:last-of-type {
    display: none;
  }

  footer section:nth-of-type(4) li:last-of-type a:last-of-type {
    display: block;
  }
}

@media (min-width: 62.5em) /* 1000px */ {
  /* Header */
  header nav {
    padding: 1.25em 6.25em; /* 20px 100px */
  }

  /* Tafel boeken */
  .tafel-boeken section {
    width: 28.125em; /* 450px */
  }

  /* Testimonial */
  .testimonial ul li {
    grid-template-columns: 1.25em 31.25em 1.25em; /* 20px 500px */
  }

  .testimonial ul li {
    grid-template-columns: 1.25em 28.125em 1.25em; /* 20px 450px */
  }

  .testimonial ul:first-of-type {
    gap: 12.5em; /* 200px */
  }

  .testimonial ul:first-of-type li {
    margin-right: 0px;
  }
}